# Question 1

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('shopify.csv')

In [2]:
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [4]:
df['ave_price_per_order'] = df.apply(lambda row: row.order_amount / row.total_items, axis=1)

In [22]:
df2 = df[df['ave_price_per_order'] < 1000] #filtering higher average price per order
df3 = df2[df2['total_items'] < 1000]       #filtering large orders

In [24]:
df['order_amount'].mean()

3145.128

In [25]:
df['order_amount'].median()

284.0

In [26]:
df2['order_amount'].mean()

2717.3677836092047

In [27]:
df2['order_amount'].median()

284.0

In [28]:
df3['order_amount'].mean()

302.58051448247926

In [29]:
df3['order_amount'].median()

284.0

# Even after filtering outlier large orders and higher priced items out, the median of the Median Order Value (MOV) did not shift from $284.0

# Question 2

### SQL code part A

```SQL
SELECT ShipperName, count(*) FROM [Shippers] JOIN
(SELECT * FROM [Customers]
JOIN ORDERS ON
Customers.CustomerID = Orders.CustomerID) X
ON X.ShipperID = Shippers.ShipperID
Where ShipperName = 'Speedy Express'
```

#### Result:

Number of Records: 1

ShipperName	| count(*)
----------------|-------------------
       Speedy Express	|         54

### SQL code part B

```SQL
SELECT LastName, max(z) FROM [Employees] JOIN
(SELECT EmployeeID, count(*) z FROM [OrderDetails]
JOIN (SELECT * FROM [Customers]
JOIN ORDERS ON
Customers.CustomerID = Orders.CustomerID) X
ON X.OrderID = OrderDetails.OrderID
GROUP BY EmployeeID) Y 
on Y.EmployeeID = Employees.EmployeeID
```

#### Result:

Number of Records: 1

LastName	| max(z)
----------------|-------------------
       Peacock	|         123

### SQL code part C

```SQL
Select productID, max(orders) from
(SELECT ProductID, count(*) orders FROM [OrderDetails] JOIN
(SELECT * FROM [Customers]
JOIN ORDERS ON
Customers.CustomerID = Orders.CustomerID) X
ON X.OrderID = OrderDetails.OrderID
Where Country = 'Germany'
Group by ProductID
order by orders DESC) Y
```

#### Result:

Number of Records: 1

ProductID	| max(orders)
----------------|-------------------
       31	|         5